body {

  background: url(../images/Origami-Folded-Paper-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
}

.name {

	font-family: 'Lora', serif;
	font-size: 80px;
	margin-top: 42px;
}

.info {

  font-family: 'Lora', serif;
	font-size: 40px;

}

.button-links {
   
   height: 160px;
   padding: 12px;

}

.project-icon {
  font-size: 50px;
}

.project {

  font-family: 'Lora', serif;
  font-size: 36px;

}

.description {

  font-family: 'Lora', serif;

}